<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated devOpsPipeline -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="devOpsPipeline.presentation.DevOpsPipelineModelWizardID"
            name="%_UI_DevOpsPipelineModelWizard_label"
            class="devOpsPipeline.presentation.DevOpsPipelineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DevOpsPipelineModelFile.gif">
         <description>%_UI_DevOpsPipelineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated devOpsPipeline -->
      <editor
            id="devOpsPipeline.presentation.DevOpsPipelineEditorID"
            name="%_UI_DevOpsPipelineEditor_label"
            icon="icons/full/obj16/DevOpsPipelineModelFile.gif"
            extensions="devopspipeline"
            class="devOpsPipeline.presentation.DevOpsPipelineEditor"
            contributorClass="devOpsPipeline.presentation.DevOpsPipelineActionBarContributor">
      </editor>
   </extension>

</plugin>
