<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated coffee -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emfforms.coffee.model.coffee.presentation.CoffeeModelWizardID"
            name="%_UI_CoffeeModelWizard_label"
            class="org.eclipse.emfforms.coffee.model.coffee.presentation.CoffeeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoffeeModelFile.gif">
         <description>%_UI_CoffeeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated coffee -->
      <editor
            id="org.eclipse.emfforms.coffee.model.coffee.presentation.CoffeeEditorID"
            name="%_UI_CoffeeEditor_label"
            icon="icons/full/obj16/CoffeeModelFile.gif"
            extensions="coffee"
            class="org.eclipse.emfforms.coffee.model.coffee.presentation.CoffeeEditor"
            contributorClass="org.eclipse.emfforms.coffee.model.coffee.presentation.CoffeeActionBarContributor">
      </editor>
   </extension>

</plugin>
